@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

@keyframes FadeIn {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

li:hover{
    filter: brightness(0.9)
}

body{
    background-color: rgb(228, 228, 228);
    /* text-align: center; */
    overflow-x: hidden;
    width: 100vw;
    width: 100%;
}



.form-login{
    width: 100vw;
    height: 300vh;
    position: absolute;
    top: 0;
    background-color:rgba(0, 0, 0, .8);
    z-index:  2000;
    display: flex;
    justify-content: center;
    padding-top: 200px
}

.icon-close-login{
    color: #000;
    position: absolute;
    top: 212px;
    right: 521px;
    font-size: 1.2rem;
    cursor: pointer;
}

.form-login-main{
    margin: center;
    width: 400px;
    height: 300px;
    background-color: #fff;
    padding: 24px 24px 24px 24px;
}

.form-login-main input{
    width: 100%;
    margin-bottom: 8px;
    margin-top: 8px;
    height: 40px;
    padding: 0 4px;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: rgba(30, 143, 255, 0.1);
    border-radius: 2px;
}

.form-login-main button{
    height: 40px;
    width: 100%;
    border: none;
    background-color: dodgerblue;
    margin-bottom: 8px;
    cursor: pointer;
    border-radius: 2px;
}

.form-login-main p{
    color: dodgerblue;
    cursor: pointer;
}
/* HEADER----------------------------------------------------- */
.header{

    background-color: dodgerblue;
    box-shadow: 0 5px 5px rgb(143, 143, 143);
    width: 100vw;
    height: 180px;
    padding: 2px 10vw;
}

.header-bar{
    display: flex;
    justify-content: space-between;
}

.menu-bar{
    display: flex;
    color: #fff;
    margin-top: 10px
}

.menu-bar li{
    list-style: none;
    margin: 0 10px;
    
}

.menu-bar li a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

.menu-bar a{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.menu-bar a i{
    margin: 0 4px 0 0;
    padding: 0;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}

.menu-bar a i:hover{
    filter: brightness(0.9)
}

.icon-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-fb{
    font-size:1.08rem;
}

.icon-ins {
    font-size: 1.2rem;
    margin-left: 0px;
}

.action-bar{
    display: flex;
    color: #fff;
    margin: 10px 40px 20px 20px;
    align-items: center;
    position: relative;
    height: 20px;
}

.action-bar li{
    list-style: none;
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.action-bar li a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.notify i{
    margin-right: 5px;
}


.avatar{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    /* position: absolute; */
    top: -3px;
    border: 2px solid oldlace;
}

.header-search{
    display: flex;
    justify-content: space-around;
   /*  margin: 10px 0 0 0; */
    align-items: center;
}

.img-logo{
    width: 100px;
    height:100px;
    border: 2px solid #fff;
    position: relative;
    left: 19px;
    cursor: pointer;
}

.search{
    position: relative;
}

.input-search{
    width: 600px;
    height: 45px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    font-size: 1.3rem;
    padding: 0 8px;
    outline: none;
    border: none;
    z-index: 400;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.3);
}

.search-history{
    position: absolute;
    top: 50px;
    width: 600px;
    height: 120px;
    background-color: #fff;
    box-shadow: 0 -2px 10px rgb(172, 171, 171);
    border-radius: 4px;
    padding: 10px;
    z-index: 300;
    overflow-y: scroll;
    display: none;
    animation: FadeIn 0.2s ease-in-out;
}

.search-history li{
    list-style: none;
    margin: 10px 0 10px 0;
    cursor: pointer;

}

.search-history li:hover{
    background-color: #fff;
    color: rgb(168, 168, 168);
}

.btn-search{
    height: 45px;
    position: absolute;
    width: 120px;
    border: none;
    background-color: rgb(231, 231, 231);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 550;
}

.btn-search i{
    margin-left: 5px;
}

.btn-search:hover{
    filter: brightness(90%);
}

.cart{
    font-size: 2rem;
    color: rgba(255, 255 ,255, 1.5);
    position: relative;
    z-index: 1001;
    cursor: pointer;
}

.cart-quantity{
    background-color: #fff;
    color: blue;
    font-size: 0.8rem;
    font-weight: 600;
    width: 20px;
    height: 20px;
    position: absolute;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid dodgerblue    ;
    overflow: hidden;
    top: -3px;
    right: -12px;
    display: flex;
    align-items: center;
}

.cart-list{
    position: absolute;
    color: black;
    width: 600px;
    height: 300px;
    background-color: #fff;
    right: 184px;
    top: 135px;
    z-index:  1000;
  /*   padding: 10px 16px; */
    font-size: 1.2rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
    border-radius: 4px;
   /*  overflow-y: scroll; */
    display: none;
    animation: FadeIn 0.2s ease-in-out;

}

.cart-list::after{
    content: "";
    position: absolute;
    border: 20px solid;
    border-color: transparent transparent rgb(255, 255, 255) transparent   ;
    top: -29px;
    right: 31px;
    z-index:  1000;
}

.header-cart{
    margin: 10px 18px;
    font-weight: 700;
    color: rgb(78, 78, 78);
}

.img-product{
    width: 60px;
    height: 60px;
}

.header-cart-product-item{
    margin-top: 0px;
    display: flex;
    position: relative;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
    background-color: oldlace;
    padding: 18px;
}

.footer-cart-product{
    position: absolute;
    bottom: 10px;
    left: 45%;
    cursor: pointer;
}

.name-product{
    margin: 0 18px;
}

.label-name{
    font-weight: 600;
}

.icon-delele{
    position: absolute;
    right: 18px;
    cursor: pointer;
}
/* 
MAIN---------------------------------------------------------------------- */



.main{
    display: flex;
    margin: 50px 10vw;
    width: 80vw;
}

.main-category{
    width: 200px;
    height: 200px;
    box-shadow: 0 0 4px black;
    margin: 0 24px 0 0;
    text-align: left;
    padding: 10px 12px;
}

.main-category li{
    margin-bottom: 4px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    font-size: 1.1rem;
    transition: transform linear 0.1s;
    will-change: transform;
}

.main-category li:not(.main-category-item--active):hover{
    transform: translateX(4px);
    font-weight: 600;
}


.main-category-item--active::before{
    content: "";
   /*  position: absolute; */
   width: 2px;
   height: 20px;
   background-color: dodgerblue ;
  /*   top: -29px;
    right: 70px; */
    display: block;
    margin-right: 8px;
}

.title-category{
    font-weight: 700;
    margin: 0 0 12px 0;
    font-size: 1.4rem;
}

.filter-product-sort{
   /* /*  width: 600px; */
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: relative;
}

.filter-product-sort button{
    margin: 0 8px;
    height: 30px;
    width: 80px;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1rem;
}

.filter-product-sort button:hover{
    filter: brightness(0.8);
}


.filter-product-btn{
    background-color: #fff;
}
.filter-product-btn-active{
    background-color: dodgerblue;
}

.price-sort{
    display: flex;
    width: 120px;
    height: 30px;
    background-color: #fff;
    justify-content: space-between;
    /* border: 1px solid #000; */
    padding: 0 4px;
    position: relative;
    align-items: center;
    border-radius: 2px;
    margin-left: 4px;
    cursor: pointer;
}

.price-sort-selection{
    background-color: #fff;
    padding: 4px;
    width: 120px;
    position: absolute;
    top: 30px;
    right: 0;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    margin-top: 4px;
    display: none;
    animation: FadeIn 0.2s ease-in-out;
    z-index:  1000;
}

.price-sort-selection li{
    cursor: pointer;
    background-color: #fff;
}

.price-sort-selection li:hover{
    filter: brightness(0.9);
}

/* .price-sort-selection li::after{
    content: "";
    width: 120px;
    height: 1px;
    top: 26px;
    left: 0;
    background-color: rgb(155, 155, 155);
    position: absolute;
} */


.price-sort i{
    position: absolute;
    right: 4px;
    top: 6px;
}

.filter-product{
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 0 4px black;
    height: 50px;
    align-items: center;
    padding: 0 12px;
}

.filter-product-page{
    display: flex;
    align-items: center;
}

.filter-product-page a i{
    width: 28px;
    height: 28px;
    background-color: #fff;
    margin-left: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px ;
}

.current-page{  
    color: dodgerblue;
    font-weight: 700;
}

.list-product{
    width: 100%;
    height: 1600px;
    /* border: 1px solid #000; */
    margin-top: 12px;
    /* border: 1px solid #000;   */
}

.cart-products{
    width: 940px;
    height: 300px;
    /* border: 1px solid #000; */
    margin: 8px 8px 20px 12px;
    display: flex;
    justify-content: space-between;
}

.cart-product-item{
    width: 220px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    margin: 0 15px 0 0;
    position: relative;
    transition: transform linear 0.2s;
    will-change: transform;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.cart-product-item:hover{
    transform: translateY(-8px);
    transform: scale(105%);
}

.img-item{
    width: 100%;
    display: cover;
}

.cart-product-item-name{
    padding: 0 4px;
    font-size: 1.1rem;
    font-weight: 600
}

.cart-product-item-price{
    display: flex;
    justify-content: space-between;
    padding: 0 4px;
    font-size: 1rem;

}

.rating{
    text-align: right;
    padding: 0 4px;
    font-size: 1rem;
}

.golden-star{
    color: dodgerblue;
}

.sticker-favorite{
    background-color: red;
    width: 70px;
    color: white;
    font-size:0.8rem;
    position: absolute;
    top: 4px;
    left: -8px;
    padding: 0 4px;
}

.sticker-favorite::after{
    content: "";
    position: absolute;
    border-top: 8px solid red;
    border-left: 8px solid transparent;
    top: 17px;
    right: 62px;
    z-index:  1000;
    filter: brightness(.8)
}

.sticker-off{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 152, 253, 0.616);
    font-size: 1.2rem;
    font-weight: 600
}

.sticker-off::after{
    content: "";
    position: absolute;
    border: 30px solid;
    border-color: rgba(0, 152, 253, 0.616) transparent transparent transparent;
    top: 50px;
    right: 0px;
    z-index: 1000;
}

.cart-product-item-price-old{
    text-decoration-line: line-through; 
}

.cart-product-item-price-new{
    color: dodgerblue;
    font-size: 1.1rem;
    font-weight: 600
}

.pages-number{
    display: flex;
    align-items: center;
    margin-left: 4px;
}

.main-product{
    /* display: flex; */
    /* justify-content: center; */
    width: 956px;
}
.pages-number div{
    display: flex;
    justify-content: center;
    margin: 0 50px;
    font-size: 1.1rem;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-weight: 600;
}

.pages-number div:hover{
    filter: brightness(0.8)
}

.page-number-active{
    background-color: dodgerblue;
    color: #fff;
    cursor: default;
}

.pages-number i{
    cursor: pointer;
}



.pages-number i:not(:last-child){
    margin-left: 4px;
    
}

.footer{
    height: 160px;
    background-color:dodgerblue;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: 12px 170px;
    color: #fff;
    font-size: 1.1rem;
    box-shadow: 0 -4px 4px rgba(0,0,0, 0.2);
}

